<!DOCTYPE html>
<html>

<head>
    <title>Crop Disease Detector</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <h2 class="text-center mt-4">Upload a Crop Leaf Image</h2>
    <div class="container mt-5">
        <form id="upload-form" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="file" class="form-control-file" required>
            </div>
            <button type="submit" class="btn btn-primary">Predict</button>
        </form>
    </div>

    <div id="result" class="text-center text-primary p-3"></div>

    <script>
        const form = document.getElementById('upload-form');
        form.onsubmit = async (e) => {
            e.preventDefault();

            const formData = new FormData(form);
            const response = await fetch('/predict', {
                method: 'POST',
                body: formData
            });

            const result = await response.json();
            document.getElementById('result').innerHTML =
                `Predicted Class: ${result.class_name} (ID: ${result.class_id})<br>
     Confidence: ${result.confidence}%`;

        };
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>